<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="be.xsom.clubber">
      
    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme.Light">
        
        <activity android:name="Clubber"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Preferences"
                  android:label="@string/preferences_title">
            <intent-filer>
                <action android:name=".Preferences" />
                <catagory android:name="android.intent.catagory.PREFERENCE" />
            </intent-filer>
        </activity>

		<activity android:name="ClubsActivity" />
		<activity android:name="OrdersActivity" />
		<activity android:name="be.xsom.clubber.StatsActivity" />

    </application>
</manifest>